@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500,600,700);

body {
    color: #E5DADA;
    margin: 0;
    overflow-x: hidden;
    font-family: Rubik, sans-serif;
    background-color: black;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-thumb {
        background: #454545;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: grey;
    }
}

.page-title {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}

.settings-page {
    background: linear-gradient(160deg, #090c30 0%, #1e2a91 50%, #3d84d6c7 100%);
    width: 100%;
    min-height: 90vh;

    .settings-container {
        width: 100%;
        max-width: 850px;
        margin: 5vh auto 10vh auto;
        padding: 50px;
        padding-top: 40px;

        .settings-title {
            color: #ffff;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 26px;
            margin-top: 40px;
            text-align: center;
        }

        .settings-section {
            width: 100%;
            border-top: 2px solid #ffff;
            padding-top: 10px;
            margin-bottom: 20px;

            .my-form {
                max-width: 400px;
                width: 100%;
                margin: 30px auto 30px 250px;

                .form-submit.right {
                    justify-content: flex-end;
                }

                .form-submit {
                    display: flex;

                    .btn {
                        width: 50%;
                    }
                }

                .form-group.editable .input-group {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .form-control {
                        margin-bottom: 0;
                    }

                    .btn {
                        height: 38px;
                        margin: 0 10px;
                        background-color: #E59500;
                        transition: all .5s;

                        &:hover {
                            color: #E59500;
                            background-color: #E5DADA;
                        }
                    }

                    i {
                        cursor: pointer;
                        color: #454545;
                        transition: all .5s;

                        &:hover {
                            color: #E59500;
                        }
                    }
                }
            }

            .non-active-form {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5rem;

                p {
                    padding: 7px 15px;
                    margin-bottom: 0;
                    font-size: 1rem;
                    cursor: default;
                }

                i {
                    cursor: pointer;
                    color: #454545;
                    transition: all .5s;
                    margin-right: 10px;

                    &:hover {
                        color: #E59500;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.img-upload-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    label {
        margin-bottom: 20px;
        position: relative;
        border-radius: 0.25rem;
        height: 80px;
        min-width: 80px;
        cursor: pointer;
        overflow: hidden;
        background-color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        background-size: contain;
    }

    h4 {
        text-align: left;
        font-size: 16px;
        color: grey;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            color: white;
        }
    }

    .img-preview-container {
        position: absolute;
        border-radius: 0.25rem;
        overflow: hidden;
    }

    .img-preview {
        background: center center no-repeat;
        background-size: cover;
        height: 80px;
        width: 80px;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .img-upload {
        margin-bottom: 0;
    }

    input {
        display: none;
    }

    .alert {
        margin-top: 10px;
        position: absolute;
        bottom: 0px;
        background-color: transparent;
        border: 0;
        color: #E59500;
    }
}

.my-form {
    visibility: visible;

    .form-group {
        width: fit-content;
        margin: 20px auto;

        .input-group {
            border-radius: 0.25rem;
            overflow: hidden;

            input.form-control {
                border: none;
                padding: 10px 15px;
                background-color: #2e2e2e;
                color: #E5DADA;
                font-family: 'Fira Sans', sans-serif;
            }
        }

        .alert-input {
            color: #E59500;
            font-weight: 100;
            font-size: 13px;
        }
    }

    .form-submit {
        width: fit-content;
        margin: 0 auto;
    }
}


.card {
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadow {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 17, 17),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(266, 92%, 58%);

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    width: 19rem;
    background-color: #2F63A6;
    background-image: radial-gradient(at 88% 40%,
            rgba(28, 14, 80, 0.938) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, rgb(59, 59, 141) 0px, transparent 85%),
        radial-gradient(at 14% 26%, rgb(21, 22, 61) 0px, transparent 85%),
        radial-gradient(at 0% 64%, #1929d8 0px, transparent 85%),
        radial-gradient(at 41% 94%, #6b60ad 0px, transparent 85%),
        radial-gradient(at 100% 99%, #350491 0px, transparent 85%);

    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(39, 2, 46, 0.25) inset;
}

.card .card__border {
    overflow: hidden;
    pointer-events: none;

    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(0deg,
            hsl(0, 0%, 100%) -50%,
            hsl(0, 0%, 40%) 100%);

    border-radius: 1rem;
}

.input {
    max-width: 100%;
    width: 250px;
    height: 44px;
    background-color: #05060f50;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    font-family: 'rubik', sans-serif;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
    color: #ffff;
    margin-bottom: 30px;
}

.label {
    display: block;
    margin-bottom: .6rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffff;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
    outline: none;
    border-color: #ffff;
}

.input-group:hover .label,
.input:focus {
    color: #ffff;
}



/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
    width: fit-content;
    margin: 20px 0 30px 100px;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: black;
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 20px;
}

/* When the checkbox is checked, add a colorful background */
.container input:checked~.checkmark {
    background: black;
    box-shadow: -5px -5px var(--spread) 0px #5B51D8, 0 -5px var(--spread) 0px #833AB4, 5px -5px var(--spread) 0px #321b9c, 5px 0 var(--spread) 0px #158dc5, 5px 5px var(--spread) 0px #621ba3, 0 5px var(--spread) 0px #3303e0, -5px 5px var(--spread) 0px #b180ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #f0f0f0;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

/* Add transition to the field that will appear */
#newSecurityWordField {
    transition: opacity 0.7s ease-out;
}



.form-button{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

button {
    padding: 15px 15px;
    border: unset;
    border-radius: 30px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgb(0, 0, 0);
    box-shadow: 0px 0px 19px -3px rgb(0, 0, 0);
    transition: all 250ms;
    overflow: hidden;
    margin: 15px 0 50px;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background: linear-gradient(120deg, #3776fd 15%, #3744fd 50%, #2725c2 80%);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

button:hover {
    color: #e8e8e8;
    background-color: transparent;
}

button:hover::before {
    width: 110%;
}